@inherits LayoutComponentBase

<PageTitle>Blazor Crud</PageTitle>

<div class="page">
    

    <main>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-danger">Oops, Error 404</h1>
                    <div class="alert alert-danger" role="alert">
                        O Conteúdo que buscas não se encontra nesta rota
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
